#root {
  max-width: 1080px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: #b9d3ef;
  font-family: Georgia, "Times New Roman", Times, serif;
}
#body {
  background-color: #354f52;
  font-size: large;
}
#about img {
  max-width: 10%;
}
#about {
  font-size: 24px;
}
