#foot img {
  max-width: 50px;
  transition: 0.2s;
  margin: 10px;
}
#foot img:hover {
  transform: scale(1.5);
}
#foot {
  margin-top: 50px;
}

.gitImg {
  position: relative;
  animation-name: gitImg;
  animation-duration: 4s;
}
.linkImg {
  position: relative;
  animation-name: linkImg;
  animation-duration: 4s;
}

@keyframes gitImg {
  from {
    left: 450px;
    top: -155px;
  }
  to {
    left: 0;
    top: 0px;
  }
}
@keyframes linkImg {
  from {
    left: -450px;
    top: -155px;
  }
  to {
    left: 0;
    top: 0px;
  }
}
