#proj img {
  max-width: 300px;
  margin: 0 10px 30px 0;
}
#imabuild {
  position: relative;
  margin: auto;
}
#gitico {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 40px;
  height: 40px;
}

#liveico {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 40px;
  height: 40px;
}
@media screen and (max-width: 768px) {
  #gitico {
    left: 27%;
  }
  #liveico {
    right: 25%;
  }
}
@media screen and (max-width: 433px) {
  #gitico {
    left: 5%;
  }
  #liveico {
    right: 6%;
  }
}
